﻿@*-------------------------Nick Renziglov 2020. Documentation:-----------------------------------
https://gitlab.com/Mabanza/aurogridforblazor/-/blob/dev/AuroGridClassLibrary/AuroGrid.pdf 
-----------------------------------------------------------------------------------------------*@
@typeparam TItem
@inherits AuroGridClassLibrary.Classes.AuroGridBaseClass<TItem>

@if (DataSource == null)
{
    <p><em>Accessing grid data...</em></p>
}
else
{
    <div class="box" style="width: 75vw;">
        <div class="box-header">
            <div class="row">
                <div class="box-title col-md-4">
                    <a href="#" class="btn badge" @onclick:preventDefault @onclick="@(e => UncheckAll())" title="Click to reset">
                        <span class="badge bg-blue-active">
                            @CheckedRowHashcodes.Count
                        </span>
                        Checked
                    </a>
                    <a href="#" class="btn badge" @onclick:preventDefault @onclick="@(e => ResetFilter(null))">
                        <i class="oi oi-circle-x"></i> Reset Filter
                    </a>
                    <a href="#" class="btn badge" @onclick:preventDefault @onclick="@(e => ShowFieldVisibilityDialog())">
                        <i class="oi oi-eye"></i> Visibility
                    </a>
                </div>
                <div class="box-tools col-md-8">
                    <div class="input-group input-group-sm">
                        <div class="box-tools">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#" @onclick:preventDefault @onclick="@(e => PagerPanelClick(-1))">&laquo;</a></li>

                                @for (int i = Pager.PagerPanelLeftButtonNumber; i < Pager.PagerPanelLeftButtonNumber + Pager.PagerPanelButtons; i++)
                                {
                                    int j = i;//<-- use this scope-defined variable j
                                    if (i > Pager.MaxPageNumber)
                                    {
                                        //Empty Pager button
                                        <li>
                                            <a href="#" class="bg-gray disabled color-palette" @onclick:preventDefault>@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="javascript: void(0)"
                                               @onclick:preventDefault
                                               @onclick="@(e => PagerPanelClick(j))">
                                                <span class=@((j == Pager.CurrentPageNumber) ? "badge bg-blue-active" : "")>
                                                    @i
                                                </span>

                                            </a>
                                        </li>
                                    }

                                }

                                <li>
                                    <a href="#" @onclick:preventDefault @onclick="@(e => PagerPanelClick(999))">&raquo;</a>
                                    <span class="badge bg-blue-active">Total @Pager.MaxPageNumber</span>
                                </li>

                                @*------------------CRUD panel---------------------------------*@
                                <li class="@RWEDPanelClass">
                                    <a href="#" @onclick:preventDefault class="badge" style="margin-left: 16px;"
                                       @onclick="@(e =>
                                                   {
                                                       if ((CurrentRow==null) || !GetItems().Contains(CurrentRow))
                                                       {
                                                           showBrowserAlert(SelectRowWarning);
                                                       }
                                                       else
                                                       {
                                                           InEditMode = !InEditMode;
                                                       }

                                                   }
                                       )">
                                        <i class="oi oi-pencil" title="Edit"></i>
                                        Edit
                                    </a>
                                    @*<a href="#" @onclick:preventDefault class="badge"><i class="oi oi-circle-check" title="Save modifications"></i> Save</a>*@
                                    <a href="#" @onclick:preventDefault class="badge"
                                       @onclick="@(e =>ReReadDataSource())">
                                        <i class="oi oi-reload" title="Cancel (refresh)"></i>
                                    </a>
                                    <a href="#" @onclick:preventDefault class="badge"
                                       @onclick="@(e =>ShowAddNewRowDialog())">
                                        <i class="oi oi-plus" title="Add new record"></i>
                                    </a>

                                    <a href="#" @onclick:preventDefault class="badge text-red @RWEDFullClass" style="margin-left: 8px;"
                                       @onclick="@(e =>
                                                   {
                                                       if ((CurrentRow==null) || !GetItems().Contains(CurrentRow))
                                                       {
                                                           showBrowserAlert(SelectRowWarning);
                                                       }
                                                       else
                                                       {
                                                           @DeleteRow();
                                                       }

                                                   }
                                       )">
                                        <i class="oi oi-trash" title="Delete current record"></i>
                                    </a>
                                    <a href="#" @onclick:preventDefault class="badge text-red @RWEDFullClass"
                                       @onclick="@(e =>  @CommitDeletedRows())">
                                        <i class="oi oi-cloud-upload" title="Commit deleted"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-body table-responsive no-padding">
            <table id="@TableId" class="@TableCSS" style="white-space: nowrap; overflow-y: auto; overflow-x: auto;">
                <thead>
                    <tr class="@TableHeaderCSS">
                        @if (IsRowCheckable)
                        {
                            <th>
                                <div class="input-group margin">
                                    <label class="container">
                                        <input type="checkbox" checked="@IsCheckboxAllChecked"
                                               @onchange="eventArgs => { CheckboxAllClicked(eventArgs.Value); }" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                            </th>
                        }


                        @foreach (AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass p in GetColumnProperties())
                        {
                            <th draggable="true" 
                                @ondragstart="@(e => OnColumnDragStart(e, p))"
                                @ondrop="@(e => OnColumnDragEnd(e, p))"
                                ondragover="javascript: { event.preventDefault(); return true;}">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">
                                        @p.ColumnName
                                    </button>

                                    @if (p.CanDropdown)
                                    {
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu shadow p-3 mb-5 bg-white rounded" role="menu">
                                            <li>
                                                &nbsp;
                                                <span class="oi oi-sort-ascending" aria-hidden="true"></span>&nbsp;
                                                <a href="#" disabled=@(!p.IsSortable)
                                                   @onclick="@(e => Sort(e, p.FieldName, false))" @onclick:preventDefault>
                                                    Sort ASC
                                                </a>
                                            </li>
                                            <li>
                                                &nbsp;
                                                <span class="oi oi-sort-descending" aria-hidden="true"></span>&nbsp;
                                                <a href="#" disabled=@(!p.IsSortable)
                                                   @onclick="@(e => Sort(e, p.FieldName, true))" @onclick:preventDefault>
                                                    Sort DESC
                                                </a>
                                            </li>
                                            <li>
                                                <div class="input-group">
                                                    &nbsp;
                                                    <input type="text" class="form-control" @onchange="@(e => OnSearchChanged(e))" placeholder="Search" disabled=@(!p.IsSearchable)>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-info btn-flat" @onclick="@(e => Search(e, p.FieldName))"
                                                                disabled=@(!p.IsSearchable)>
                                                            <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                                                        </button>
                                                    </span>
                                                    &nbsp;
                                                </div>
                                            </li>
                                            @if (p.Lookup != null)
                                            {
                                                //This column is the drop-down one and can be filtered
                                                <li>
                                                    <div style="min-width: 200px;">
                                                        &nbsp;
                                                        <label>Filter</label>
                                                        <select multiple class="form-control" @onchange="@(e => LookupFilterChanged(p, e))">
                                                            @foreach (KeyValuePair<string, string> kvp in p.Lookup)
                                                            {
                                                                <option value="@kvp.Key">
                                                                    @GetDropdownString(p.LookupRepresentation, kvp)
                                                                </option>
                                                            }
                                                        </select>
                                                        &nbsp;
                                                    </div>
                                                </li>
                                            }
                                            @*<li class="divider">&nbsp;</li>
                                                <li>&nbsp;<a href="#"
                                                             >Separated link</a></li>*@
                                        </ul>
                                    }
                                </div>

                            </th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @{counter = 0;}
                    @foreach (TItem item in GetItems())
                    {
                        counter++;
                        <tr id="@GetRowHashCode(item)" class="@GetRowCSSClass(GetRowHashCode(item))">
                            @if (IsRowCheckable)
                            {
                                <td>
                                    <label class="container">
                                        <input type="checkbox"
                                               checked="@IsRowChecked(item)"
                                               @onchange="eventArgs => { CheckboxClicked(item, eventArgs.Value); }" />
                                        <span class="checkmark"></span>
                                    </label>

                                </td>
                            }

                            @foreach (AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass citem in ColumnsGUI)
                            {
                                <td>
                                    <span style="cursor: pointer;"
                                          class="@citem.ColumnAlignmentAsString"
                                          @onclick="@(e => clickRow(e, item))"
                                          @ondblclick="@(e => dblClick(item, citem))">

                                        <Cell Item="item"
                                              Column="citem"
                                              EditMode="@(InEditMode && !citem.IsReadOnly && (GetRowHashCode(item)==GetRowHashCode(CurrentRow)))"
                                              OnModifyItem="@OnModifyItem" />
                                    </span>
                                </td>
                            }
                        </tr>
                    }

                    @*Add missing rows to complete the view to PageSize*@
                    @while (counter < Pager.PageSize)
                    {
                        <tr>
                            @if (IsRowCheckable)
                            {
                                <td>&nbsp;</td>
                            }
                            @foreach (AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass citem in ColumnsGUI)
                            {
                                <td>&nbsp;</td>
                            }
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>




}

@*------------------Modal for Column functions---------------------------*@
<div class="modal fade modal-primary" id="visibilityModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: rgba(0,0,0,0);">
            <div class="small-box">
                <div class="icon" style="margin-top: 8px;">
                    <i class="oi oi-eye"></i>
                </div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title">Field visibility</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <table style="white-space: nowrap; overflow-y: auto; overflow-x: auto; height: 300px; width: 100%;">
                    <thead class="btn-primary">
                        <tr>
                            <th>Field</th>
                            <th>Title</th>
                            <th style="text-align: center;">Is Hidden</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass citem in Columns.OrderBy(p => p.ColumnIndex))
                        {
                            <tr>
                                <td>
                                    @citem.FieldName
                                </td>
                                <td>
                                    <input type="text"
                                           @bind-value="@citem.ColumnName"
                                           @oninput="eventArgs => { citem.IsModified=true; }"
                                           style="width: 100%;" />
                                </td>
                                <td>
                                    <input type="checkbox"
                                           @bind-value="@citem.IsHidden"
                                           @oninput="eventArgs => { citem.IsModified=true; }"
                                           style="width: 100%;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#" @onclick:preventDefault class="btn btn-primary" @onclick="@(e => VisibilitySaveClick())">
                    <i class="oi oi-cloud-upload"></i> Save
                </a>
            </div>


        </div>
    </div>
</div>
@*----------------------------------------------------------------------------------------*@


@*------------------Modal for Add new row---------------------------*@
<div class="modal fade modal-primary" id="addNewRowModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: rgba(0,0,0,0);">
            @*<div class="small-box">
                    <div class="icon" style="margin-top: 8px;">
                        <i class="oi oi-plus"></i>
                    </div>
                </div>*@
            <div class="modal-header">
                <h4 class="modal-title">Add new row</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger @validationSummaryCSS">
                    <h4><i class="icon fa fa-ban"></i>Validation summary</h4>
                    <ul style="list-style-type:disk">
                        @if (@validationSummaryMessages != null) foreach (string s in @validationSummaryMessages)
                            {
                                <li>@s</li>
                            }
                    </ul>
                </div>

                <div class="small-box">
                    <div class="icon">
                        <i class="oi oi-plus"></i>
                    </div>
                </div>

                <table style="white-space: nowrap; overflow-y: auto; overflow-x: auto; height: 300px; width: 100%;">
                    <thead class="btn-primary">
                        <tr>
                            <th>Field</th>
                            <th>Value</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (NewRow != null) foreach (AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass citem in ColumnsGUI)
                            {
                                <tr>
                                    <td>
                                        @citem.ColumnName
                                    </td>
                                    <td>
                                        <Cell Item="NewRow"
                                              Column="citem"
                                              EditMode="@true"
                                              OnCellCreated="@((cell)=>
                                              {

                                              })" />
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" @onclick:preventDefault class="btn btn-primary" @onclick="@(e => NewRowSaveClick())">
                    <i class="oi oi-cloud-upload"></i> Save
                </a>
            </div>


        </div>
    </div>
</div>
@*----------------------------------------------------------------------------------------*@



@functions
{


}

@code {
    [Parameter]
    public TItem Item { get; set; }
    [Parameter]
    public Action<TItem, AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass, object> OnModifyItem { get; set; }

    private string RWEDPanelClass;
    private string RWEDFullClass;

    int counter = 0;


    protected override Task OnInitializedAsync()
    {
        if (SecurityAccessLevel <= Classes.SecurityAccessLevels.ViewOnly) RWEDPanelClass = "d-none";
        else if (SecurityAccessLevel < Classes.SecurityAccessLevels.FullAccess) RWEDFullClass = "d-none";
        return base.OnInitializedAsync();
    }
}
