﻿@*-------------------------Nick Renziglov 2020. Documentation:-----------------------------------
    https://gitlab.com/Mabanza/aurogridforblazor/-/blob/dev/AuroGridClassLibrary/AuroGrid.pdf 
    -----------------------------------------------------------------------------------------------*@
@typeparam TItem

<div>
    @CellBody
</div>

@code {

    [Parameter]
    public bool EditMode { get; set; }
    [Parameter]
    public TItem Item { get; set; }
    [Parameter]
    public AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass Column { get; set; }
    [Parameter]
    public Action<TItem, AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass, object> OnModifyItem { get; set; }
    [Parameter]
    public Action<Cell<TItem>> OnCellCreated { get; set; }

    public RenderFragment CellBody { get; set; }

    private System.Reflection.PropertyInfo pi;
    private AuroGridClassLibrary.Classes.CellMatcherClass<TItem> matcher;

    protected override Task OnParametersSetAsync()
    {
        pi = Item.GetType().GetProperty(Column.FieldName);
        matcher = new Classes.CellMatcherClass<TItem>();
        CellBody = b =>
        {
            if (!EditMode) assignViewMode(b);
            else assignEditMode(b);

            b.AddAttribute(0, "Item", Item);
            b.AddAttribute(0, "Column", Column);
            b.CloseComponent();
        };

        return base.OnParametersSetAsync();
    }

    private void assignViewMode(Microsoft.AspNetCore.Components.Rendering.RenderTreeBuilder b)
    {
        if (Column.Lookup != null)
        {
            b.OpenComponent(0, matcher.Matches[Column.Lookup.GetType()]);
        }
        else
        {
            b.OpenComponent(0, matcher.Matches[pi.PropertyType]);
        }
    }

    private void assignEditMode(Microsoft.AspNetCore.Components.Rendering.RenderTreeBuilder b)
    {
        if (Column.Lookup != null)
        {
            b.OpenComponent(0, matcher.MatchesEdit[Column.Lookup.GetType()]);
        }
        else
        {
            b.OpenComponent(0, matcher.MatchesEdit[pi.PropertyType]);
        }

        if (OnModifyItem != null) b.AddAttribute(0, "OnModifyItem", OnModifyItem);
    }


}
