﻿@page "/Default"

<div class="box box-widget widget-user">
    <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">Auro grid demo</h3>
        <h5 class="widget-user-desc">Nick Renziglov 2020</h5>
    </div>
    <div class="widget-user-image">
        <img class="img-circle" src="me.jpg">
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header"><i class="oi oi-circle-check"></i></h5>
                    <span class="description-text">CRUD operations</span>
                </div>
            </div>
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header"><i class="oi oi-circle-check"></i></h5>
                    <span class="description-text">Field visibility</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header"><i class="oi oi-circle-check"></i></h5>
                    <span class="description-text">Embedded column menu</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
