﻿@*-------------------------Nick Renziglov 2020. Documentation:-----------------------------------
https://gitlab.com/Mabanza/aurogridforblazor/-/blob/dev/AuroGridClassLibrary/AuroGrid.pdf  
-----------------------------------------------------------------------------------------------*@
@page "/GridDemo"
@using AuroGridClassLibrary
@using DTOClasses
<h3>Grid Demo</h3>

<AuroGrid TItem="@EmployeeDTO"
          DataSource="@EmployeeList"
          Columns="@LoadColumns()"
          IsRowCheckable="true"
          PageSize="6"
          TableCSS="table table-condensed table-striped table-hover"
          TableHeaderCSS="btn-primary"
          SelectedRowCSS="bg-yellow disabled color-palette"
          SecurityAccessLevel=AuroGridClassLibrary.Classes.SecurityAccessLevels.FullAccess
          OnRowSelected="@((dto) =>
          {
              //Process row selection here
          })"
          OnRowChecked="@((dto, isOn, allSelectedHashcodes) =>
          {
              //Process row check/uncheck here
          })"
          OnRowsChecked="@((rows, isOn, allSelectedHashcodes) =>
          {
              //Process "All" rows check/uncheck here
          })"
          OnModifyItem="@((dto, column, newValue) =>
          {
              //Process row modifications here. Called for every field change
              string fname= column.FieldName;
          })"
          OnRowsDeleted="@((List<EmployeeDTO> deletedItems) =>
          {
              //Commit deleted rows
          })"
          OnReRead="@(() =>
          {
              EmployeeList = ReadEmployeeList();
              return EmployeeList;
          })"
          OnSaveGridVisibility="@((modifiedColumns) =>
          {
              //Process grid visibility change.
          })"
          OnBeforeAddNew="@(() =>
          {
              EmployeeDTO newEmployee = new EmployeeDTO();
              return newEmployee;
          })"
          OnAfterAddNew="@((newItem) =>
          {
              //Process the new row adding.
          })"
          OnColumnReordered="@((columns) =>
          {
              //Process the column reordering
          })"
          >

</AuroGrid>

@code {

    public List<EmployeeDTO> EmployeeList = new List<EmployeeDTO>();
    public BlazorGridApp.Data.Dictionaries DemoDictionaries = new Data.Dictionaries();

    protected override async Task OnInitializedAsync()
    {
        //Load the Employee list from remote storage
        ServiceReference1.Service1Client service1Client = new ServiceReference1.Service1Client();
        EmployeeList = ReadEmployeeList();


        await base.OnInitializedAsync();
    }

    private List<EmployeeDTO> ReadEmployeeList()
    {
        List<EmployeeDTO> result = new List<EmployeeDTO>();
        //Load the Employee list from remote storage
        ServiceReference1.Service1Client service1Client = new ServiceReference1.Service1Client();
        result = service1Client.GetEmployeeList();
        return result;
    }

    private List<AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass> LoadColumns()
    {
        List<AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass> result = new List<AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass>();
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 0,
            FieldName = "RecId",
            IsHidden = false,
            ColumnName = "#",
            Width = 80.0,
            IsSortable = false,
            IsSearchable = false,
            IsReadOnly = true
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 1,
            FieldName = "FirstName",
            IsHidden = false,
            ColumnName = "First Name",
            Width = 120.0,
            IsSearchable = true
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 2,
            FieldName = "LastName",
            IsHidden = false,
            ColumnName = "Last Name",
            Width = 120.0,
            IsSearchable = true
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 3,
            FieldName = "EmployeeNumber",
            IsHidden = false,
            ColumnName = "Employee Number",
            Width = 120.0,
            IsSearchable = true,
            Restrictions = new AuroGridClassLibrary.Classes.AuroGridColumnRestrictionClass()
            {
                IsRequired = true,
                Hint = "Field is required"
            }
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 4,
            FieldName = "DOB",
            IsHidden = false,
            ColumnName = "Birth date",
            Width = 120.0,
            Format = "dd MMM yyyy",
            Restrictions = new AuroGridClassLibrary.Classes.AuroGridColumnRestrictionClass()
            {
                IsRequired = true,
                Hint = "Field is required."
            }
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 5,
            FieldName = "Department",
            IsHidden = false,
            ColumnName = "Department",
            Width = 120.0,
            LookupRepresentation = AuroGridClassLibrary.Classes.LookupRepresentations.CodeAndTitle,
            Lookup = DemoDictionaries.Departments
        });

        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 6,
            FieldName = "IsTemporary",
            IsHidden = false,
            ColumnName = "Part time",
            Width = 120.0

        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 7,
            FieldName = "TC",
            IsHidden = false,
            ColumnName = "Training Course",
            Width = 120.0,
            LookupRepresentation = AuroGridClassLibrary.Classes.LookupRepresentations.TitleOnly,
            Lookup = DemoDictionaries.TrainingCourses
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 8,
            FieldName = "Rate",
            IsHidden = false,
            ColumnName = "Rate",
            Width = 120.0,
            Format = "{0:C}",
            ColumnAlignment = AuroGridClassLibrary.Classes.ColumnAlignments.Right
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 9,
            FieldName = "BankDays",
            IsHidden = false,
            ColumnName = "Days in bank",
            Width = 120.0,
            ColumnAlignment = AuroGridClassLibrary.Classes.ColumnAlignments.Middle
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 10,
            FieldName = "ShiftStartTime",
            IsHidden = false,
            ColumnName = "Shift start at",
            Width = 120.0,
            ColumnAlignment = AuroGridClassLibrary.Classes.ColumnAlignments.Middle,
            DateTimeRepresentation = AuroGridClassLibrary.Classes.DateTimeRepresentations.TimeOnly,
            Format = "MM/dd/yyyy hh:mm t",
        });
        result.Add(new AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass()
        {
            ColumnIndex = 11,
            FieldName = "Email",
            IsHidden = false,
            ColumnName = "email",
            Width = 120.0,
            ColumnAlignment = AuroGridClassLibrary.Classes.ColumnAlignments.Right,
            Restrictions = new AuroGridClassLibrary.Classes.AuroGridColumnRestrictionClass()
            {
                RegularExpression = @"^[A-z0-9\.\-]+@[A-z0-9\-]+\.[A-z]+$",
                Hint = "Please enter a valid email address"
            }
        });

        return result;
    }
}
