﻿@typeparam TItem

    <div class="input-group">
        <label class="container">
            <input type="checkbox" checked="@isCheckboxChecked" disabled />
            <span class="checkmark"></span>
        </label>
    </div>

@code {
    [Parameter]
    public TItem Item { get; set; }
    [Parameter]
    public AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass Column { get; set; }

    private bool isCheckboxChecked { get; set; }

    protected override Task OnParametersSetAsync()
    {
        System.Reflection.PropertyInfo pi = Item.GetType().GetProperty(Column.FieldName);
        if ((pi != null) && (pi.PropertyType == typeof(Boolean)))
            isCheckboxChecked = (bool)(pi.GetValue(Item, null) ?? false);

        return base.OnParametersSetAsync();
    }
}
