﻿@typeparam TItem
@inherits BaseEditCell<TItem>

    <div class="input-group">
        <label class="container">
            <input type="checkbox" checked="@isCheckboxChecked" @onchange="eventArgs => { validateAndModify(Item, Column, eventArgs.Value); }" />
            <span class="checkmark"></span>
        </label>
    </div>

@code {
    private bool isCheckboxChecked { get; set; }

    protected override Task OnParametersSetAsync()
    {
        System.Reflection.PropertyInfo pi = Item.GetType().GetProperty(Column.FieldName);
        if ((pi != null) && (pi.PropertyType == typeof(Boolean)))
            isCheckboxChecked = (bool)(pi.GetValue(Item, null) ?? false);

        return base.OnParametersSetAsync();
    }
    private void validateAndModify(TItem _item, AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass _column, object _value)
    {
        ApplyModificationToDTO(_value);
        if (OnModifyItem != null) OnModifyItem(_item, _column, _value);
    }
}
