﻿@typeparam TItem
@inherits BaseEditCell<TItem>
<input type="@typeString"
       @onchange="eventArgs => { validateAndModify(Item, Column, eventArgs.Value); }"
       value="@editValue"
       style="width: 100%;" />
@code {
    private string editValue { get; set; }
    private string typeString { get; set; } = "date";
    private string aformat = "{0:yyyy-MM-dd}";
    private AuroGridClassLibrary.Classes.CellMatcherClass<TItem> matcher;

    protected override Task OnParametersSetAsync()
    {
        matcher = new Classes.CellMatcherClass<TItem>();
        switch (Column.DateTimeRepresentation)
        {
            case Classes.DateTimeRepresentations.DateAndTime:
                typeString = "datetime-local";
                aformat = "{0:yyyy-MM-ddThh:mm:ss}";
                break;
            case Classes.DateTimeRepresentations.TimeOnly:
                typeString = "time";
                aformat = "{0:hh:mm:ss}";
                break;
        }
        System.Reflection.PropertyInfo pi = Item.GetType().GetProperty(Column.FieldName);
        if (pi != null)
        {
            object vobject = pi.GetValue(Item, null);
            if (vobject != null)
            {
                DateTime DT = (DateTime)vobject;
                //editValue = String.Concat(DT.ToString("yyyy-MM-dd"),"T", DT.ToString("hh:mm:ss"));
                editValue = String.Format(aformat, DT);
            }
        }
        return base.OnParametersSetAsync();
    }

    private void validateAndModify(TItem _item, AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass _column, object _value)
    {
        if (!matcher.MatchValidation[typeof(DateTime)].Invoke(Item, Column, _value))
        {
            ShowWarningIcon();
            return;
        }
        ApplyModificationToDTO(_value);
        if (OnModifyItem != null) OnModifyItem(_item, _column, _value);
    }

}
