﻿@typeparam TItem
@inherits BaseEditCell<TItem>

    <select @onchange="@(e => validateAndModify(Item, Column, e.Value))" style="padding: 2px;">
        @foreach (KeyValuePair<string, string> kvp in Column.Lookup)
        {
            <option value="@kvp.Key" selected="@(selectedValue==kvp.Key)">
                @AuroGridClassLibrary.Classes.DropdownListRepresentationClass.GetDropdownString(Column.LookupRepresentation, kvp)
            </option>
        }
    </select>
    
@code {
    private string selectedValue { get; set; }
    private AuroGridClassLibrary.Classes.CellMatcherClass<TItem> matcher;
    System.Reflection.PropertyInfo pi;
    protected override Task OnParametersSetAsync()
    {
        matcher = new Classes.CellMatcherClass<TItem>();
        pi = Item.GetType().GetProperty(Column.FieldName);
        if (pi != null)
        {
            object vobject = pi.GetValue(Item, null);
            if (vobject != null)
            {
                selectedValue = vobject.ToString();
            }
        }
        return base.OnParametersSetAsync();
    }
    private void validateAndModify(TItem _item, AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass _column, object _value)
    {
        if (matcher.MatchValidation[pi.PropertyType].Invoke(Item, Column, _value))
        {
            ApplyModificationToDTO(_value);
            if (OnModifyItem != null) OnModifyItem(_item, _column, _value);
        }
    }
}
