﻿@typeparam TItem
@inherits BaseEditCell<TItem>
<input type="text" AuroGridCell
       @onchange="eventArgs => { validateAndModify(Item, Column, eventArgs.Value); }"
       value="@editValue"
       style="width: 100%;" />
<i class="oi oi-circle-x text-red @WarningCSS" style="margin-left: -26px;" title="@WarningTitle"></i>


@code {

    private object editValue { get; set; }
    private AuroGridClassLibrary.Classes.CellMatcherClass<TItem> matcher;

    protected override Task OnParametersSetAsync()
    {
        matcher = new Classes.CellMatcherClass<TItem>();
        System.Reflection.PropertyInfo pi = Item.GetType().GetProperty(Column.FieldName);
        if (pi != null)
        {
            object vobject = pi.GetValue(Item, null);
            if (vobject != null)
            {
                editValue = vobject;
            }
        }
        return base.OnParametersSetAsync();
    }

    private void validateAndModify(TItem _item, AuroGridClassLibrary.Classes.AuroGridColumnPropertyClass _column, object _value)
    {
        WarningCSS = "d-none";
        if (!matcher.MatchValidation[typeof(string)].Invoke(Item, Column, _value))
        {
            ShowWarningIcon();
            return;
        }
        ApplyModificationToDTO(_value);
        if (OnModifyItem == null) return;
        else OnModifyItem(_item, _column, _value);


    }

}
